In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path = r'/Users/danielmccormick/Desktop/CareerFoundry/Python/08-23 Instacart Basket Analysis'

In [3]:
df_instacart = pd.read_pickle(os.path.join(path, 'IC_Data', 'IC_prepared_data', 'instacart_total_data'))

In [4]:
# Creating a cross tab of days since prior order and user order count. I am trying to confirm that for all values of 
# NaN in the days since prior order column, that the only user order count associated with that row is 1. 
# this will confirm that the only missing values in the days since prior order column are those for the user's first 
# order and are thus not in error. 
df_instacart.head()

,user_id,user_gender,user_state,user_age,user_date_joined,user_num_dependents,user_marriage_stat,user_income,order_id,user_order_count,...,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,user_avg_price,spending_flag,user_med_days_since_order,frequency_flag,_merge
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,2543867,5,...,Regularly busy,Busier Days,Average Orders,8,New Customer,7.988889,Low Spender,19.0,Regular customer,both
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,1285508,7,...,Regularly busy,Normal Busyness Days,Most Orders,8,New Customer,7.988889,Low Spender,19.0,Regular customer,both
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,2578584,8,...,Regularly busy,Busier Days,Most Orders,8,New Customer,7.988889,Low Spender,19.0,Regular customer,both
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,423547,2,...,Regularly busy,Normal Busyness Days,Average Orders,8,New Customer,7.988889,Low Spender,19.0,Regular customer,both
4,26711,Female,Missouri,48,1/1/2017,3,married,165665,2524893,3,...,Regularly busy,Less Busy Days,Most Orders,8,New Customer,7.988889,Low Spender,19.0,Regular customer,both

In [5]:
crosstab = pd.crosstab(df_instacart['days_since_prior_order'], df_instacart['user_order_count'], dropna = False)

In [6]:
crosstab.to_clipboard()

In [7]:
df_instacart['days_since_prior_order'].max()

30.0

In [8]:
df_instacart['user_order_count'].max()

99