# 3. Importing libraries and orders_products_combined pickle file and confirming the head/shape/describe results align with expectations

In [ ]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/danielmccormick/Desktop/CareerFoundry/Python/08-23 Instacart Basket Analysis'

In [3]:
df_ords_prods = pd.read_pickle(os.path.join(path, 'IC_Data', 'IC_prepared_data', 'orders_products_combined.pkl'))

In [4]:
df_ords_prods.head()

,order_id,user_id,user_order_count,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [5]:
# 4. Confirming the the imported pickle file data frame has the expected shape of (32434489, 10). 
df_ords_prods.shape

(32434489, 10)

In [6]:
df_ords_prods.describe()

,order_id,user_id,user_order_count,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
count,3.243449e+07,3.243449e+07,3.243449e+07,3.243449e+07,3.243449e+07,3.035642e+07,3.243449e+07,3.243449e+07,3.243449e+07
mean,1.710749e+06,1.029372e+05,1.714205e+01,2.738818e+00,1.342498e+01,1.110407e+01,2.557634e+04,8.351076e+00,5.896975e-01
std,9.873007e+05,5.946648e+04,1.753504e+01,2.090049e+00,4.246365e+00,8.778914e+00,1.409669e+04,7.126671e+00,4.918886e-01
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00
25%,8.559430e+05,5.142100e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.353000e+04,3.000000e+00,0.000000e+00
50%,1.711048e+06,1.026110e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.525600e+04,6.000000e+00,1.000000e+00
75%,2.565514e+06,1.543910e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.793500e+04,1.100000e+01,1.000000e+00
max,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00

# 5. Merging orders_products_combined with products data set

In [7]:
# importing cleaned products dataframe and confirming that the head/shape/describe results align with expectations 
df_prods = pd.read_csv(os.path.join(path, 'IC_Data', 'IC_prepared_data', 'products_clean.csv'), index_col = [0])

In [8]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
df_prods.shape

(49672, 5)

In [10]:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49672.000000  49672.000000   49672.000000  49672.000000
mean   24850.349775     67.762442      11.728942      9.993282
std    14340.705287     38.315784       5.850779    453.615536
min        1.000000      1.000000       1.000000      1.000000
25%    12432.750000     35.000000       7.000000      4.100000
50%    24850.500000     69.000000      13.000000      7.100000
75%    37268.250000    100.000000      17.000000     11.100000
max    49688.000000    134.000000      21.000000  99999.000000

In [11]:
# Merging the df_ords_prods and df_prods dataframes
# When I attempt to run: 
# df_merged_total = df_ords_prods.merge(df_prods, on = ['product_id'], indicator = True, how = 'outer') 
# I get an error: "ValueError: Cannot use name of an existing column for indicator column"
# After doing some research it seems as though the df_ords_prods dataframe created earlier in the exercise
# already has the _merge column with every row saying "both", and since that is already in the dataframe
# I cannot do another merge with "indicator = True" since there is already an indicator column in one of the dataframes.
# For that reason I will drop the _merge column from the df_ords_prods dataframe and then run the merge function
# with "Indicator = True"
df_ords_prods = df_ords_prods.drop('_merge', axis=1)

In [12]:
df_ords_prods.head()

,order_id,user_id,user_order_count,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [13]:
df_merged_total = df_ords_prods.merge(df_prods, on = ['product_id'], indicator = True, how = 'outer')

# 6. Running checks to confirm that the merge was fully successful

In [14]:
# Checking the results of the full outer merge shows that there were not full matches for every data point. About
# 30k values were only in the left dataframe, the df_ords_prods dataframe. There were 11 values only found in the 
# right dataframe, the df_prods dataframe. 
df_merged_total['_merge'].value_counts()

both          32404859
left_only        30200
right_only          11
Name: _merge, dtype: int64

In [15]:
# because of these results, we will want to re-do the merge that we executed above as an inner join to make sure 
# that the newly created dataframe only has data that matches from both data frames. 
df_merged_total = df_ords_prods.merge(df_prods, on = ['product_id'], indicator = True)

In [16]:
df_merged_total['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [17]:
# Now we have a dataframe with all the data combined that only contained data that matched across the two data frames. 
# this data is now good to export and use in future analyses.

# 7. Exporting the data frame as a pickle file.

In [18]:
df_merged_total.to_pickle(os.path.join(path, 'IC_Data', 'IC_prepared_data', 'orders_products_merged.pkl'))