# 1. Import libraries and work through steps from the reading

In [ ]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/danielmccormick/Desktop/CareerFoundry/Python/08-23 Instacart Basket Analysis'

In [3]:
# import orders_products_prior data set as a new dataframe
df_ords_prior = pd.read_csv(os.path.join(path, 'IC_Data', 'IC_original_data', 'orders_products_prior.csv'), index_col = False)

In [4]:
# use head to check the first few rows and shape to determine how many rows and columnc there are in the new data set
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
df_ords_prior.shape

(32434489, 4)

In [6]:
# import orders dataframe from the "Clean" version from the last exercise. 
# When I have index_col set to "False", the newly created dataframe has a Column with the heading "Unnamed: 0" 
# with index values in it. So I set the index_col = [0] and it did not add that new column in. 
# But, when I check the shape of the dataframe it says I have 6 columns, but in the reading the picture
# of the results says it should have 7 columns. I am not sure why as it looks like the dataframe in the reading is also 
# 6 columns wide. 
df_ords = pd.read_csv(os.path.join(path, 'IC_Data', 'IC_prepared_data', 'orders_clean.csv'), index_col = [0])

In [7]:
df_ords.head()

,order_id,user_id,user_order_count,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [8]:
df_ords.shape

(3421083, 6)

In [9]:
# merging the df_ords and df_ords_prior data frames with an inner join and indicator set to True 
df_merged_large = df_ords.merge(df_ords_prior, on = ['order_id'], indicator = True)

In [10]:
df_merged_large.head()

,order_id,user_id,user_order_count,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [11]:
# Confirming the shape is correct for the new dataframe 
df_merged_large.shape

(32434489, 10)

In [12]:
# Counting to confirm that there are only rows in the dataframe with matching data 
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [13]:
# Attempting to do an outer merge just to confirm I am able to get the same results shown in the reading 
df_merged_large = df_ords.merge(df_ords_prior, on = ['order_id'], indicator = True, how = 'outer')

In [14]:
df_merged_large.head()

,order_id,user_id,user_order_count,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both
1,2539329,1,1,2,8,NaN,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,NaN,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,NaN,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,NaN,26405.0,5.0,0.0,both

In [15]:
# confirming that the shape is different and that there are some data points that do not match up in the outer join 
# version fo the data frame 
df_merged_large.shape

(32640698, 10)

In [16]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

In [17]:
# 1. Merging orders and orders_prior dataframes on order_id column and confirming the shape of the dataframe 
# is correct. Using an inner join to confirm that we only include data that matches up in the new dataframe 
df_merged_large = df_ords.merge(df_ords_prior, on = ['order_id'], indicator = True)

In [18]:
df_merged_large.shape

(32434489, 10)

# 2. Exporting the newly merged dataframe as a pickle file

In [19]:
df_merged_large.to_pickle(os.path.join(path, 'IC_Data', 'IC_prepared_data', 'orders_products_combined.pkl'))